<div class="form-group">
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" [value]="1" [(ngModel)]="ad.isBuying">
    <label class="custom-control-label" for="customRadioInline1"><img width="50" height="50" src="https://image.ibb.co/jJELZo/buy.png"></label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" [value]="0" [(ngModel)]="ad.isBuying">
    <label class="custom-control-label" for="customRadioInline2"><img width="50" height="50" src="https://image.ibb.co/hOGCfT/sell.png"></label>
  </div>
</div>
<div class="form-group">
  <label for="symb">Symbol:</label>
  <input type="email" class="form-control" id="symb" placeholder="BTC" [(ngModel)]="ad.symbol">
  <small>ovde se unosi simbol</small>
</div>
<div class="form-group">
  <label for="date11">Date of buyin:</label>
  <input class="form-control form_datetime" id="date11" readonly [(ngModel)]="ad.date" value="{{ad.date}}">
</div>
<div class="form-group">
  <label for="input">Cryptocurrency amount:</label>
  <input type="number" step="0.01" class="form-control" id="input" [(ngModel)]="ad.amount">
</div>
<br/>
<div *ngIf="success==='good'" class="alert alert-success" role="alert">
  Successfully added transacion!
</div>
<div *ngIf="success==='bad'" class="alert alert-danger" role="alert">
  Something is wrong...
</div>
<br/>
<button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
<br/><br/><br/>