<div style="text-align: center" class="container">
  <nav class="navbar navbar-dark bg-dark">
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/dashboard">My wallet</a>
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="/ads">CryptoAds</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Reports</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/login/out">Logout</a>
  </nav>
  <div class="row">
    <div class="col">
      <h1> C R Y P T O F F E R </h1>
      <h4>Make full detailed view to you crypto finance.</h4>
      <h4>Make offers and find others.</h4>
      <h4> No fee!</h4>
      <h4> Peer2peer market!</h4>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>